BODY{
  font-family: "sans-serif";
  font-size: 1.4rem;
}
.nav.navbar-nav.navbar-right {
  background-color: white;          
}

.line-v li:not(:last-child) a::after{ 
  content : " | ";
  margin-left: 0.8em;
}

.line-v ul {
  margin: 0;padding:0;
}

.line-v ul li {
  list-style-type: none;
  display:inline
}

.nav.navbar-nav.first > .active > a  {
  border-bottom: 2px solid black;
  background-color: #f8f8f8 !important;
}

.navbar{
  height: 52px;
 }

.img-responsive {
  margin:0 auto;
}

.col-sm-3.sidenav {
  font-size: 0.9em;
}

.nav-stacked > .active > a{
  background-color: #f8f8f8 !important;
}
.separador{
  background-color:transparent;
  height:2px;
}
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.spacer-h {
  margin:2em;
}

.navbar-toggle.navbar-left {
  float: left;  
}
#cart{
  float:right;
  position: absolute;
  margin-left: 70%;
  margin-top: 4%;
}
.center-img {
  margin-left: auto;
  width: 20%;
  margin-right: 40%;
  width: 20%;
  margin-top: 2%;
}

@media screen and (max-width:420px) {  
  #logo-xs {display:none} 
  #logo2 {display:none}
  #cart2 {display:none}
  .line-v li:not(:last-child) a::after{ 
    content : "";
  }
  .nav.navbar-nav.first > .active > a  {
    border-bottom: none;
    background-color: #f8f8f8 !important;
  }
  .ml5p{margin-left: 5%;}
  .space {margin-left: 5%}
}

@media only screen and (min-device-width: 481px) {
  #logo-xs {display:block}
  #logo2 {display:block}
  #cart {display:block}
  .space {margin-left: 5px}
}